<div class="mailbox-controls">
    <div class="btn-group">
        <a href="#" class="btn btn-default btn-sm" data-toggle="modal" data-backdrop="false" data-target="#download"><i class="fa fa-download"></i></a>
        <button type="button" class="btn btn-default btn-sm save-record"><i class="fa fa-floppy-o"></i></button>
    </div>
    <div class="btn-group">
        <a href="#" class="btn btn-default btn-sm" data-toggle="modal" data-backdrop="false" data-target="#data-entry"><i class="fa fa-plus"></i></a>
    </div>
</div>