<div class="grid-toolbar">
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm download-record"><i class="fa fa-download"></i></button>
        <button type="reset" class="btn btn-default btn-sm reset-filter"><i class="fa fa-times"></i></button>
        <button type="button" class="btn btn-default btn-sm save-record"><i class="fa fa-floppy-o"></i></button>
    </div>
    <div class="btn-group">
        <a href="#" class="btn btn-default btn-sm" data-toggle="modal" data-backdrop="false" data-target="#data-entry"><i class="fa fa-plus"></i></a>
    </div>
    <button type="button" class="btn btn-success btn-sm filter-record pull-right"><i class="fa fa-filter"></i> &nbsp; Apply Filter</button>
</div>
