@{
    ViewData["Title"] = "Timekeeping";
}
@section head {
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="~/lib/iCheck/skins/flat/blue.css" />
    <style type="text/css">
        #download {
            top: 25%;
            background: none;
        }

        #download .modal-dialog {
            width: 350px;
        }

        .table-hover > tbody > tr.no-hover:hover {
            background-color: #fff;
        }

        .drill-down {
            cursor: pointer;
        }

        .drill-down:before {
            content: "\f196";
        }

        .drill-down.collapsed:before {
            content: "\f147";
        }
        
    </style>
}

<section class="content-header">
    <h1>
        Timekeeping
        <small>Keep track of employee work hours for payroll time records</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Attendance Monitor</h3>
                    <div class="box-tools pull-right">
                        <div class="has-feedback">
                            <input id="searchbox" type="text" name="keyword" class="form-control input-sm" placeholder="Search" autocomplete="off">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <div class="mailbox-controls">
                        <!-- Check all button -->
                        <div class="btn-group">
                            <a href="#download" class="btn btn-default btn-sm" data-toggle="modal"><i class="fa fa-download"></i></a>
                            <button type="button" class="btn btn-default btn-sm save-record"><i class="fa fa-floppy-o"></i></button>
                        </div>
                    </div>
                    <div class="table-responsive mailbox-messages no-padding">
                        @await Html.PartialAsync("_Table")
                    </div>
                </div>
                <div class="box-footer no-padding">
                    <div class="mailbox-controls">
                        <div class="btn-group">
                            <a href="#download" class="btn btn-default btn-sm" data-toggle="modal"><i class="fa fa-download"></i></a>
                            <button type="button" class="btn btn-default btn-sm save-record"><i class="fa fa-floppy-o"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
<div id="download" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" asp-controller="Timekeeping" asp-action="Download" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Query Attendance</h4>
                </div>
                <div class="modal-body">

                    <div class="box-body">
                        <div class="form-group">
                            <label for="from" class="col-sm-2 control-label">From</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="from" name="from" placeholder="mm/dd/yyy" data-provide="datepicker" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="to" class="col-sm-2 control-label">To</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="to" name="to" placeholder="mm/dd/yyy" data-provide="datepicker" required>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Apply</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section scripts {
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/iCheck/icheck.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-form/jquery.form.js"></script>
    <!-- Page Script -->
    <script>
        $(function() {
            $(document).ajaxStart(function() { Pace.restart(); });

            $('#searchbox').keypress(function(e) {
                var $this = $(this);
                if (e.which === 13) {
                    e.preventDefault();

                    $('#search-form').ajaxSubmit({
                        data: {
                            keyword: $this.val() 
                        },
                        success: function(result) {
                            $('#timekeeping-form>table>tbody').html(result);
                        }
                    });
                }
            });

            $('.modal form').ajaxForm({
                beforeSubmit: function() {
                    $('.modal').modal('toggle');
                },
                success: function(result) {
                    $('.mailbox-messages').html(result);
                }
            });

            $('.save-record').click(function() {
                $('#timekeeping-form').submit();
            });

            $(document).on(
                'click',
                '.mailbox-messages .drill-down',
                function() {
                    var $this = $(this);
                    var $row = $this.closest('tr').next();

                    $this.toggleClass('collapsed');

                    if ($this.hasClass('collapsed')) {
                        $row.removeClass('hidden');
                    } else {
                        $row.addClass('hidden');
                    }
                }
            );
        });
    </script>
}