<aside class="main-sidebar">
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image avatar" style="height: 45px; width: 45px;">
                <span class="user-initials">DB</span>
                <img src="~/images/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- search form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu -->
        <ul class="sidebar-menu" active-list="true" active-css="active">
            <li class="header">MAIN NAVIGATION</li>
            <li>
                <a asp-controller="Home" asp-action="Index">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span>Sales/Marketing</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Interactions</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Quotations</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Bookings</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Job Orders</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Complaints</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-bar-chart-o"></i>
                    <span>Accounting</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-circle-o"></i>
                            <span>Customers</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Invoices</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Debit/Credit Notes</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Receipts</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-circle-o"></i>
                            <span>Suppliers</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Debit/Credit Notes</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Purchase Orders</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Payment Requests (RPV)</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Check Vouchers</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-circle-o"></i>
                            <span>Reports</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Receipts (CRB)</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Disbursements (CDB)</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Freight Book (FRB)</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Cost Analysis</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Production Report</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Financial Statement</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-puzzle-piece"></i>
                    <span>Human Resource</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Employees</a></li>
                    <li><a asp-controller="Timekeeping" asp-action="Index"><i class="fa fa-circle-o"></i> Timekeeping</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Payslip</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Payroll</a></li>
                </ul>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>